<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue dans ton labo{% endblock %}</title>

  
        {% block stylesheets %}

          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
          
        {% endblock %}
    </head>

    <body>

    
  <div id='myNavBar'>
  
  <div id='leftNavDiv'>
     <a href="{{ path('admin') }}">  <img id='logoImg' src='{{ asset("images/lab.png") }}'> </a>

  </div>

  <div id='rightNavDiv'>


       <div>          <a href='{{ path("profilePagePath")}}'><button>Votre profil</button></a>  </div>



  
     <div>
       
       <div>
        <i id='bellIcon' class="fa fa-bell fa-2x" aria-hidden="true" style="color:black"></i>
        </div>


         
         <div>

         {% if app.user %}
         <div id='notifPin' style='color: red'>
             {% if app.user.pinCount != 0 %}
              {{ app.user.pinCount }}
             {% endif %}
              </div> </br>
          {% endif %}

            </div>

              
     </div>


          <div>         
          
           {% if app.user %}

               <a href='{{ path("logoutPath")}}'><button>Déconnexion</button></a> 

            {%else%}

               <a href='{{ path("loginPath")}}'><button>Connexion</button></a> 

               
           {% endif %}
           
           
           </div>


  </div>

  

  </div>

     <div id='notifContentDiv'>

          <div id='notifContent'> </div> </br>
     
     </div>
     

          <style>
           
           body{

             background: #1E1E5D;

             color: white;  

           }

           #myNavBar{

             background:  #f2f2f2;

             position: fixed;

             top:0px;

             height: 9vh;

             width: 100%;

             display: flex;

             justify-content: space-between;


           }

           #rightNavDiv{
            
            height: 100%;

            width: 30%;

            display: flex;

            justify-content: space-between;

            align-items: center;

            margin-right: 3vw;

           }

           
           #rightNavDiv div{
            
            height: 80%;
            
            width: 30%;




           }


            #leftNavDiv{
            
            height: 100%;


            width: 10%;

            justify-content: center;

            align-items: center;

            padding-left: 3vw;

            padding-top: 0.5vh;

           }

           #notifContentDiv{

             position: fixed;
 
             width: 20vw;

             top: 9vh;

             right: 3vw;

             background: white;

             border-radius: 10px;

             opacity: 0;



             
           }

           #logoImg{

             height: 8vh;

             width: auto;
           }



           #myFooter{

             height: 6vh;
             width: 100%;

             background: #f2f2f2;


             position: fixed;

             top: 94vh;

             display: flex;

             justify-content: center;
           }


           #setToViewLink{
             
             
             color: red;



           }

        </style>

        


    <div class="fixed-top">
    <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">

     <a href="{{ path('admin') }}"><button>home</button></a>

     {% if app.user %}

               <i id='bellIcon' class="fa fa-bell fa-2x" aria-hidden="true" style="color:white"></i>

               
                <div id='notifContent'> </div> </br>

                <div id='notifPin'> {{ app.user.pinCount }} </div> </br>

              

            
           {%else%}
              <a href='{{ path("registerPath")}}'><button>Inscription</button></a>
           {% endif %} 

    </div>
  </div>
  



</div>

<br>
<i class="fas fa-business-time"></i><i class="fas fa-business-time"></i><i class="fas fa-business-time"></i><i class="fas fa-business-time"></i><i class="fas fa-business-time"></i>
<br>



{% if app.user %}

<div id='myFooter'>
        
        <div>
           <a href='{{ path("showAllProjectsPath") }}'><button>Voir tes projets en cours</button></a>
        </div>
        <div>
           <a href='{{ path("showAllDoneProjectsPath") }}'><button>Voir tes projets accomplis</button></a>
        </div>

        <div>
            <a href='{{ path("newProjectPath") }}'><button>Créer un projet</button></a>
        </div>

</div>

{% endif %}  


      {% block body %}{% endblock %}
                
       <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

     
       <script>

   
       var notifContentDiv = document.getElementById('notifContentDiv');


        {% if app.user%}

          var notifDisplay = 'off';

         
          var icon = document.getElementById('bellIcon');
 
          var notifContent = document.getElementById('notifContent');
 
          var notifPin = document.getElementById('notifPin');

          var loadedNotifs = '';

          var pin;


        
                function displayPin(){

                 notifPin.innerHTML = pin;
      
                }

                 function resetPin(){

                   xrq = new XMLHttpRequest();

                   xrq.onload = function(){

                      pin = '';

                      displayPin();
 
                   }

                xrq.open('GET', '{{ path("resetNotifPinPath")}}' , true );

                xrq.send();
  

                 }


     function updatePin(){

           xrq = new XMLHttpRequest();

           xrq.onload = function(){

             pin = JSON.parse(this.responseText).pinCount;

              displayPin();

 
           }

          xrq.open('GET', '{{ path("getNotifPinPath")}}' , true );

                xrq.send();


                 }



       function updateNotifs(){
         

         xrq = new XMLHttpRequest();

         loadedNotifs = '';


         xrq.onload = function(){

            var notifContentArray = JSON.parse(this.responseText).notifContentArray;

            var notifIdArray = JSON.parse(this.responseText).notifIdArray;

            for(i=0; i<  notifIdArray.length; i++){

               loadedNotifs += ' <div style="color:black"> <p style="color:black">' + notifContentArray[i] +'</p></br>' + '<a  onclick = "setNotifAsDone(event)">' +  '<span id="setToViewLink" value =' + notifIdArray[i] + '>Marquer comme "vu"</span></p></a> </div>' ;

            
            }


        }


         xrq.open('GET', '{{path("getNotifsPath") }}', true);

         xrq.send();




      }
                   
            {% if app.user.notifications is not empty %}
         
                {% for notification in app.user.notifications %}  

                    loadedNotifs += ' <div style="color:black"><p >{{ notification.content }}</p>' + '</br>' + '<a  onclick = "setNotifAsDone(event)"> <span id ="setToViewLink" value = "{{ notification.id }}">Marquer comme "vu"</span></a></div>' ;
                                  
                {% endfor %} 
            
            {% endif %}
                  

                function displayNotifs(){

                    notifContent.innerHTML = loadedNotifs;

                }
                
          

        icon.addEventListener('click', function(){
            
            if(notifDisplay == 'off'){


                 resetPin();
           
                 displayNotifs();      

                 if(loadedNotifs != ''){


                    notifContentDiv.style.opacity = 1;
                    notifDisplay = 'on';


                }

                                  

            } else{

                  notifContent.innerHTML = '';

                  notifContentDiv.style.opacity = 0;


                   notifDisplay = 'off';

              }

        })



         function setNotifAsDone(event){

          var notifId = event.target.getAttribute('value');

          xrq = new XMLHttpRequest();

          xrq.onload = function(){

           
           console.log('ok');
           var notifContentArray = JSON.parse(this.responseText).notifContentArray;
           
           var notifIdArray = JSON.parse(this.responseText).notifIdArray;
        
            
            loadedNotifs = '';


            for(i=0; i < notifContentArray.length; i++){


                loadedNotifs += '<div style="color:black"><p>' + notifContentArray[i] +'</p></br>' + '<a  onclick = "setNotifAsDone(event)">' +  '<span id="setToViewLink" value =' + notifIdArray[i] + '>Marquer comme "vu"</span></a></div>' ;

            }

            if( notifContentArray.length == 0){

              notifDisplay = 'off';

              notifContentDiv.style.opacity = 0;

              displayNotifs();

              pin = '';

               displayPin();


            
            } else {
              
                displayNotifs();

            }


          }


          xrq.open('POST','{{ path("setNotifToViewedPath") }} ' , true);

          xrq.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");


          xrq.send("notifId=" + notifId);



          };
      

        {%endif%}


        {% block javascripts %}
        {% endblock %}

     
        

        </script>

              <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
        
    </body>
</html>
