<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Bienvenue dans ton labo{% endblock %}</title>
        
         
         
          
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
      


    </head>

    <body>

    
  <div id='myNavBar'>
  
    <div id='leftNavDiv'>
      {% if app.user %}
       <a href="{{
          path('profilePagePath') }}">  <img id='logoImg' src='{{ asset("images/flaskblue.png") }}'> </a>
      {%else%}

        {% endif %}
     </div>

     <div id='rightNavDiv'>
     
       
  
     <div>

              {% if app.user %}

       
         <div>
           <i id='bellIcon' class="fa fa-bell fa-2x" aria-hidden="true" style="color:black"></i>
        </div>


         
         <div>

         <div id='notifPin' style='color: red'>
             {% if app.user.pinCount != 0 %}
              {{ app.user.pinCount }}
             {% endif %}
              </div> </br>
          {% endif %}

            </div>

              
     </div>


          
           {% if app.user %}

                   <div id='logoutButton'>         
                        <a href='{{ path("logoutPath")}}'><button style='background:none; border:none; outline:none'><i class="fas fa-2x fa-sign-out-alt"></i></button></a> 
                  
                   </div>

            {%else%}

               <div>

                  <a href='{{ path("loginPath")}}'><button style='margin-right: 3vw; margin-top: 8px; border: none; outline: none'><i class="fas fa-2x fa-street-view"></i></button></a> 

              </div>

           {% endif %}
           
           


  </div>

  

  </div>


     <div id='notifContentDiv'>

          <div id='notifContent'>   </div> </br>
     
     </div>

       

          <style>
           
           body{

             background:  #181d42;

        
             color: white;  

           }

           #myNavBar{

             position:absolute;

             z-index: 5;

             background:  #f2f2f2;

             position: fixed;

             top:0px;

             height: 9vh;

             width: 100%;

             display: flex;

             justify-content: space-between;


           }

           #rightNavDiv{
            
            height: 100%;

            width: 10%;

            display: flex;

            justify-content: space-between;

            align-items: center;

            margin-right: 7vw;

            

           }

           
           #rightNavDiv div{
            
            height: 80%;
            
            width: 30%;

            display: flex;

            justify-content: center;

            margin-right: 0.5%;

           }

           #logoutButton{

             margin-right: 500px;
           }


            #leftNavDiv{
            
            height: 100%;


            width: 10%;

            justify-content: center;

            align-items: center;

            padding-left: 3vw;

            padding-top: 0.5vh;

           }

           #notifContentDiv{

             padding: 15px;

             position: fixed;
 
             width: 22vw;

             top: 9vh;

             right: 3vw;

             background: white;

             border-radius: 10px;

             opacity: 0;

             z-index: 10;

             box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
             
           }

           #logoImg{

             height: 8vh;

             width: auto;
           }


           #myFooter{
             
             height: 6vh;
             width: 100%;

             background: #f2f2f2;


             position: fixed;

             top: 94vh;

             display: flex;

             justify-content: center;

             z-index: 5;
           }


          #myFooter div{
           
           display: flex;

           width: 18%;

           justify-content: space-around;


           }


           #setToViewLink{
             
             
             color: red;



           }


        </style>

        
        {% block stylesheets %}
        
       
       
          
          
        {% endblock %}
     

        


    <div class="fixed-top">
    <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">

     <a href="{{ path('admin') }}"><button>home</button></a>

     {% if app.user %}

               
                <div id='notifContent'> </div> </br>

                <div id='notifPin'> {{ app.user.pinCount }} </div> </br>

              

            
           {%else%}
              <a href='{{ path("registerPath")}}'><button>Inscription</button></a>
           {% endif %} 

    </div>
  </div>
  



</div>





{% if app.user %}

<div id='myFooter'>
     <div>

         <div><a href='{{ path("profilePagePath")}}'><button style='background:none; border:none; outline: none'><i class="fas fa-x fa-user"></i></button></a>  </div>

       
       <div>
           <a href='{{ path("showAllDoneProjectsPath") }}'><button style='background:none; border:none; outline: none'><i class="fas fa-vials"></i></button></a>
        </div>
        <div>
           <a href='{{ path("showAllProjectsPath") }}'><button  style='background:none; border:none; outline: none'><i class="fas fa-vial"></i></button></a>
        </div>
        <div>
            <a href='{{ path("newProjectPath") }}'><button style='background:none; border:none; outline: none'><i class="fas fa-plus-circle"></i></button></a>
        </div>
      </div>

</div>

{% endif %}  


      {% block body %}{% endblock %}
       
      
       <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

       <script src = "https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>


       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
        
              
       <script>
       

   
       var notifContentDiv = document.getElementById('notifContentDiv');


        {% if app.user%}

          var notifDisplay = 'off';

         
          var icon = document.getElementById('bellIcon');
 
          var notifContent = document.getElementById('notifContent');
 
          var notifPin = document.getElementById('notifPin');

          var loadedNotifs = '';

          var pin;


        
                function displayPin(){

                 notifPin.innerHTML = pin;
      
                }

                 function resetPin(){

                   xrq = new XMLHttpRequest();

                   xrq.onload = function(){

                      pin = '';

                      displayPin();
 
                   }

                xrq.open('GET', '{{ path("resetNotifPinPath")}}' , true );

                xrq.send();
  

                 }


     function updatePin(){

           xrq = new XMLHttpRequest();

           xrq.onload = function(){

             pin = JSON.parse(this.responseText).pinCount;

              displayPin();

 
           }

          xrq.open('GET', '{{ path("getNotifPinPath")}}' , true );

                xrq.send();


                 }



       function updateNotifs(){
         

         xrq = new XMLHttpRequest();

         loadedNotifs = '';


         xrq.onload = function(){

            var notifContentArray = JSON.parse(this.responseText).notifContentArray;

            var notifIdArray = JSON.parse(this.responseText).notifIdArray;

            for(i=0; i<  notifIdArray.length; i++){

               loadedNotifs += ' <div style="color:black"> <p style="color:black">' + notifContentArray[i] +'</p></br>' + '<a  onclick = "setNotifAsDone(event)">' +  '<span id="setToViewLink" value =' + notifIdArray[i] + '>vu</span></a> </div>' ;

            
            }


        }


         xrq.open('GET', '{{path("getNotifsPath") }}', true);

         xrq.send();




      }
                   
            {% if app.user.notifications is not empty %}
         
                {% for notification in app.user.notifications %}  

                    loadedNotifs += ' <div style="color:black"><p >{{ notification.content }}</p>' + '</br>' + '<a  onclick = "setNotifAsDone(event)"> <span id ="setToViewLink" value = "{{ notification.id }}">vu<i class="fas fa-check-circle"></i></span></a></div>' ;
                                  
                {% endfor %} 
            
            {% endif %}
                  

                function displayNotifs(){

                    notifContent.innerHTML = loadedNotifs;

                }
                
          

        icon.addEventListener('click', function(){
            
            if(notifDisplay == 'off'){


                 resetPin();
           
                 displayNotifs();      

                 if(loadedNotifs != ''){


                    notifContentDiv.style.opacity = 1;
                    notifDisplay = 'on';


                }

                                  

            } else{

                  notifContent.innerHTML = '';

                  notifContentDiv.style.opacity = 0;


                   notifDisplay = 'off';

              }

        })



         function setNotifAsDone(event){

          var notifId = event.target.getAttribute('value');

          xrq = new XMLHttpRequest();

          xrq.onload = function(){

           
           console.log('ok');
           var notifContentArray = JSON.parse(this.responseText).notifContentArray;
           
           var notifIdArray = JSON.parse(this.responseText).notifIdArray;
        
            
            loadedNotifs = '';


            for(i=0; i < notifContentArray.length; i++){

                loadedNotifs += '<div style="color:black"><p>' + notifContentArray[i] +'</p></br>' + '<a  onclick = "setNotifAsDone(event)">' +  '<span id="setToViewLink" value =' + notifIdArray[i] + '>vu</a></div>' ;

            }

            if( notifContentArray.length == 0){

              notifDisplay = 'off';

              notifContentDiv.style.opacity = 0;

              displayNotifs();

              pin = '';

              displayPin();
              
            
            } else {
              
                displayNotifs();

            }


          }


          xrq.open('POST','{{ path("setNotifToViewedPath") }} ' , true);

          xrq.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");


          xrq.send("notifId=" + notifId);



          };
      

        {%endif%}


        {% block javascripts %}
        {% endblock %}

     
        

        </script>
    </body>
</html>
