{% extends 'base.html.twig' %}

{% block title %}All my projects{% endblock %}

{% block body %}
<style>

body{

    background:  #181d42;
}

#backgroundDiv{

   height: 100%;

   width: 100%;

   display: flex;

   flex-direction: column;

   align-items: center;
   
}

#pageHeader{

margin-top: 20px;

margin-left: 10px;


}

#projectDiv{
  
  width: 55%;

  height: 100px;

  display: flex;
  
  justify-content: space-between;

  border-radius: 12px;

  background:  #313769;

  box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.1);

  margin-top: 25px;


}

#projectDiv div{
  
  height: 100%;

  width: 33.33%;

  display: flex;

  align-items: center;

  padding-right: 25px;

  padding-left: 15px;


}


#titleDiv{

  justify-content: flex-start;

}


#seeProjectDiv{
    
      justify-content: center;
}


#rightProjectDiv{
    
      justify-content: flex-end;

      width: 30%;

      height: 100%;


}

#myMicroscope{
   
   margin-right: 2vw;

}


#myChart{

      margin-right: 1.4vw;



}
#middleIcon{

   border-radius: 20px;

   height: 27px;

   width: 27px;

   display:flex;

   justify-content: center;

   background: none;

   border: none;
}

#deleteButton{


   background: none;

   border: none;

   color: white;

   outline: none;
}

#chemistryImg{

   height: 250px;

   width: auto;
}

#microscopeImg{

   height: 60px;

   width: auto;

}

#headerDiv{

   width: 100vw;

   height: 150px;

   display: flex;

   justify-content: center;

   padding: 20px;

   align-items: center;
}

#headerDiv{

   margin-top: 10vh;
}



  @media all and (max-width: 450px){


     #projectDiv{

        width:90vw;


     }

  }






</style>

<div id ='headerDiv'>



<img id='chemistryImg'  src='{{ asset("images/chemistry.png") }}'> 

</div>


<div id='backgroundDiv'>






{%for project in projects %}


<div id='projectDiv'>

<div id='titleDiv'>

{{ project.projectName}} </br>



</div>
  

<div id='rightProjectDiv' >

    <a id='myMicroscope' href = '{{ path("showProjectPath", { "projectId" : project.id  })}}'><img id='microscopeImg'  src='{{ asset("images/microscope.png") }}'></a>
      <i id='myChart' class="fas fa-chart-bar fa-2x"></i>
   <a href = '{{ path("deleteProjectPath", { "projectId" : project.id , "redirect" : 'allProjects' })}}'><button id='deleteButton'><i class="fas fa-trash"></i></button></a>
   
</div>

</div>

{%endfor%}


 </br>

 </br>





</div>

{% endblock %}



{%block javascripts %}
  

     console.log('ok');


{%endblock%}