{% extends 'base.html.twig' %}

{% block title %}My project{% endblock %}

{% block body %}
<style>


</style>

<br>


<label>Total worktime</label>


<progress id="totalCnt" max="{{totalLimit}}" value="1"></progress>

</br>



<label>Daily worktime</label>

<progress id="dailyCnt" max="{{dailyLimit}}" value="1"></progress>

</br>

<button id="startBtn">start</button>

</br>


<form id='projectDone' method='post' action= '{{path("totalCountDonePath")}}'>


 <input type='hidden' name = 'projectId' value = '{{ projectId}}'>

 <input type='submit'>

</form>



 
{% endblock %}


      {% block javascripts %}

      <script>


      var startBtn = document.getElementById('startBtn');
      var totalCnt = document.getElementById('totalCnt');
      var dailyCnt = document.getElementById('dailyCnt');
      var dailyCountDone = {{dailyCountDone}};
      var totalCountDone = {{totalCountDone}};
      var projectDone = document.getElementById('projectDone');




      
   




      startBtn.addEventListener('click', function(){

          var myInterval;

          if (startBtn.innerHTML == 'start'){

             myInterval = setInterval(function(){ increaseCounts()}, 1000);

             startBtn.innerHTML = 'stop';

          }

          else {

             clearInterval(myInterval);
            
            startBtn.innerHTML = 'start';
              
          }

          

      })

     console.log(dailyCountDone);
     



      function increaseCounts(){ 


         

      if(dailyCnt.value >= {{dailyLimit}}){

         if (dailyCountDone == false){


          xrq = new XMLHttpRequest();

          xrq.onload = function(){

             console.log('ok');

             dailyCountDone = true;

          }


          xrq.open('POST', '{{ path("dailyCountDonePath")}}', true);

          xrq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

          xrq.send('projectId=' + {{ projectId}});

         }

   
         
         

      if(totalCnt.value >= {{totalLimit}}){

         if (totalCountDone == false){
            
          totalCountDone = true;
          projectDone.submit(); 

          console.log(totalCountDone);




          }

          

         }


   

          
          

      }

          totalCnt.value+=10000;
          dailyCnt.value++;

       }


     </script>


        {% endblock %}
