{% extends 'base.html.twig' %}

{% block title %}My project{% endblock %}

{% block body %}
<style>


</style>

<br>



<label>Total worktime</label>


<progress id="totalCnt" max="{{totalLimit}}" value="{{totalCount}}"></progress>

</br>



<label>Daily worktime</label>

<div id = 'progressDiv' ><progress id="dailyCntHTML" max="{{dailyLimit}}" value="{{dailyCount}}"></progress></div>

</br>

<button id="startBtn">start</button>






</br>


<form id='projectDone' method='post' action= '{{path("totalCountDonePath")}}'>

 <input type='hidden' name = 'projectId' value = '{{ projectId}}'>


</form>




<form id ="intervalForm" action= '{{ path("showProjectPath", {"projectId": projectId })}}' method="post" >
      <input id='intervalInput' type='hidden' name = 'interval' value = 'off'>
      <input id='pageReload' type='hidden' name = 'pageReload'>
      
</form>




<a href='{{ path("showGraphPath", {"projectId": projectId }) }}'<button>show graph</button>


</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>


   <a href = '{{ path("deleteProjectPath", { "projectId" : projectId , "redirect" : "allProjects"  })}}'><button>Supprimer projet</button></a>


{% endblock %}

      {% block javascripts %}


      

         //setInterval (function(){refreshAt(23,55,0)}, 10000000) ;

      
            

            window.onload = function(){

               if(dailyCountDone == true){

                    document.getElementById('progressDiv').innerHTML = "done :)";



               }
            }
            
               window.onbeforeunload = function(){ storeValues()};


            




      var startBtn = document.getElementById('startBtn');
      var totalCnt = document.getElementById('totalCnt');
      var dailyCntHTML = document.getElementById('dailyCntHTML');
      var dailyCnt = {{dailyCount}};
      var dailyCountDone = {{dailyCountDone}};
      var totalCountDone = {{totalCountDone}};
      var intervalInput = document.getElementById('intervalInput');
      var intervalForm = document.getElementById('intervalForm');
      var projectDone = document.getElementById('projectDone');
      
      var done = false;

      var interval = "{{interval}}";

      var pageReloaded = {{ pageReloaded }}



      if(interval == "on"){

         countFunction();



      }


      
       
       function refreshAt(hours, minutes, seconds) {
    var now = new Date();
    var then = new Date();


    if(now.getHours() > hours ||
       (now.getHours() == hours && now.getMinutes() > minutes) ||
        now.getHours() == hours && now.getMinutes() == minutes && now.getSeconds() >= seconds) {
        then.setDate(now.getDate() + 1);
    }
    then.setHours(hours);
    then.setMinutes(minutes);
    then.setSeconds(seconds);
     

        console.log(then - now);


    
    if((then - now) < 300000){    

         

                   if(startBtn.innerHTML == 'stop'){

                      intervalInput.value = 'on';

                      console.log('on!!');
                          }

        
                  console.log('letsgo');

                  storeValues();

                  intervalForm.submit();




            }


      
 }
  

     
   
         


     
     function storeValues(){
         
         xrq = new XMLHttpRequest();
         
         xrq.onload = function(){

         }
          xrq.open('POST', '{{ path("storeCountsPath")}}', true);

          xrq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

          xrq.send('projectId=' + {{ projectId}} + '&totalCount=' + totalCnt.value +'&dailyCount=' + dailyCnt);

      }
       
      
   
      var myInterval;


      startBtn.addEventListener('click', function(){

         countFunction();

      })


      function countFunction(){

         
          if (startBtn.innerHTML == 'start'){

             myInterval = setInterval(function(){ increaseCounts()}, 1000);
                             
             //doneInterval = setInterval(function(){ myfct()}, 1000);




             startBtn.innerHTML = 'stop';

          }

          else {

             clearInterval(myInterval);
            
            startBtn.innerHTML = 'start';
              
          }



      }


     console.log(dailyCountDone);
     



      function increaseCounts(){ 


         storeValues();

         if(totalCnt.value >= ( (totalCnt.max/100)*90) ){
               if(totalCnt.value >= {{totalLimit}}){

              myfct();
            }

         }

   
         
        if(dailyCnt >= {{dailyLimit}}) {

           if (dailyCountDone == false){

           

          xrq = new XMLHttpRequest();

          xrq.onload = function(){

              document.getElementById('progressDiv').innerHTML = "done :)";

             
              updateNotifs();

              updatePin();

             console.log(JSON.parse(this.responseText).pin);

             dailyCountDone = true;

          }


          xrq.open('POST', '{{ path("dailyCountDonePath")}}', true);

          xrq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

          xrq.send('projectId=' + {{ projectId}});

         }


      }

          totalCnt.value+=1;

          dailyCnt+=150;

          dailyCntHTML.value=dailyCnt;

       }





        
        function myfct(){

              if(done == false){


           
             if(totalCnt.value >= {{totalLimit}}){


                     
                   console.log('ok');


                    clearInterval(myInterval);

                    storeValues();

                    projectDone.submit();

                    done = true;



                  }


             }



        }



        {% endblock %}
