{% extends 'base.html.twig' %}

{% block title %}Mail{% endblock %}

{% block body %}
<style>

</style>

<h1>Voici ton profil</h1>


     {% if app.user %}

     <h3>Ton avatar</h3>
       
       <img src='{{ asset( app.user.avatarAssetSrc ) }}'>

        
   
    <h3>Ton statut</h3>

    {{ app.user.level}}

      
    <h3>Tes points de compétence </h3>

      {{ app.user.competencyPoints}}



    <h3>Nombre de projets finis</h3>

    {{ finishedProjects }}


    <h3>Nombre de projets en cours </h3>

    {{ unfinishedProjects }}



    <h3>Temps moyen travaillé/jour </h3>


            {{ averageWorkTime }} minutes




    
    <h3>Dynamique globale actuelle (jours travaillés d'affilée)</h3>

    {%if dynamic > 1 %}

    {{ dynamic }} jours travaillés d'affilée 
    
     {%else%}

          Pas de dynamique en cours (à partir de 2 jours)
     {%endif%}
    
    <h3>Pourcentage accomplissement compte journalier</h3>

       {{ dailyCountAverage }} %


  
        <h3>Mailing de suivi (coup de pression)</h3>

    {{ app.user.mailing}}



     {%endif%}



{% endblock %}



{%block javascripts %}



{%endblock%}